@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-main: "Figtree", sans-serif;
    
    /* Primary */

    --Yellow: hsl(47, 88%, 63%);

    /* Neutral */

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--Yellow);
    font-family: var(--font-main);
}

/* UTILITIES */

p {
    font-size: 16px;
}

img {
    display: inline-block;
}

a {
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--Yellow);
    text-decoration: none;
}

a:hover {
    font-weight: 900;
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 0.7rem;
    background-color: var(--Black);
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; 
    height: 100vh;
    transition: padding  1s ease;
}

@media (max-width: 425px) {
    main {
        padding: 0rem 5rem ;
    }
}

.container {
    padding: 2.5rem 2.5rem 2.2rem 2.5rem;
    border-radius: 2rem;
    width: 33.5rem;
    max-width: 35rem;
    height: max-content;
    margin-bottom: 3rem;
    background-color: var(--White);
    border: 1px solid var(--Black);
    box-shadow: 6px 9px 0px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 6px 9px 0px 3px rgba(0,0,0,1);
    -moz-box-shadow: 6px 9px 0px 3px rgba(0,0,0,1);
    transition: 1s ease-in-out;
}

@media (max-width: 425px) {
    .container {
        inline-size: 100%;
    }
}

.article-card__img {
    width: 100%;
    border-radius: 1rem;
}

.article-card__category {
    margin-top: 2.5rem;
    font-weight: 800;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    width: max-content;
    background-color: var(--Yellow);
}

.article-card__date {
    font-size: 14px;
    font-weight: 600;
    color: var(--Black);
}

.article-card__title {
    margin: 1.3rem 0 1.3rem 0;
    font-size: 2.35rem;
    font-weight: 800;
    transition: 0.8s ease;
}

.article-card__title:hover {
    cursor: pointer;
    color: var(--Yellow);
}
@media (max-width: 445px) {
    .article-card__title {
        font-size: 2.63rem;
    }
}

.article-card__text {
    margin: 0 0 2rem 0;
    line-height: 2.5rem;
    color: var(--Grey);
}

.avatar-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.avatar-card__img {
    width: 10%;
}

.avatar-card__name {
    font-weight: 800;
    margin-left: 1.5rem;
}

.attribution {
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    border: 1px solid var(--Black);
    background-color: var(--White);    
    box-shadow: 6px 9px 0px 3px rgba(0,0,0,1);
}

.attribution-info {
    font-weight: 600;
    margin-bottom: 0.5rem;
}